<div id="home" class="outer_page">
  <section id="summary">
    <header>
      <h1>Mike Raimondi</h1>
      <h2>Full stack Rails developer</h2>
    </header>
      <article>
        <p>He's awesome at everything. Just look:</p>
        <% @me[:projects].each do |project| %>
          <p><%= "Name: #{project.name}"%></p>
          <p><%= "Summary: #{project.summary}"%></p>
        <% end %>
      </article>
  </section>
</div
